*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(248, 243, 246);
}

header{
    margin: 70px;
    padding: 24px;
}

header p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: rgb(245, 28, 115);
}

ol{
    margin: 100px;
}

li{
    margin: 50px;
    list-style: none;
    background-color: rgb(235, 149, 191);
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.726);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.548);
    padding: 10px;
}

a{
    border: 2px solid rgb(132, 2, 47);
    color: rgb(68, 1, 110);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a:hover{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.621);
    cursor: pointer;
    background-color: rgb(194, 142, 244);
}

form{
    border: 2px solid rgba(128, 0, 255, 0.87);
    border-radius: 20px;
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    font-size: 30px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.562);
}

#login{
    height: 450px;
    padding: 50px;
}

#signup{
    height: 850px;
}

form input, form select{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form button{
    font-size: 30px;
    background-color: rgb(255, 240, 248);
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form button:hover{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.612);
    cursor: pointer;
}